<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body class="bg-dark">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-8 offset-md-2 my-3" id="filmsHolder">
                
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        // const token = localStorage.getItem("token");

        $( document ).ready(function() {
            console.log( "ready!" );
            getFilmData();
        });

        getFilmData = () => {
            $.ajax({
            url: "/api/films",
            cache: false,
            // headers: {
            //     "Authorization": "JWT " + token
            // },
            success: function (films) {
                $('#filmsHolder').html('');
                films.forEach(film => {
                    
                    $('#filmsHolder').append(formatFilmData(film));
                    
                });
            }
        });
        };
        
        formatFilmData = (film) =>{
            return `<div class="row border-bottom">
                    <div class="col-md-2">
                        <div class="row ">
                            <div class="col-md-12 py-1 border-bottom">${film.title}</div>
                            <div class="col-md-12 py-1 border-bottom">${film.director}</div>
                            <div class="col-md-12 py-1 border-bottom">${film.producer}</div>
                            <div class="col-md-12 py-1 border-bottom">${film.release_date}</div>
                            <div class="col-md-12 py-1">${film.rt_score}</div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <p>${film.description}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="border-bottom">People</p>
                        <ul>
                            ${film.people.map(p => `<li>${p.name}</li>`).join("")}
                        </ul>
                    </div>
                </div>`;
        }
    </script>

</body>

</html>